{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
    
 <style>
 
 #logo{
  margin-left:3%;
  color:#42E0FF;
  font-weight:bold;
}

#nav{
  margin-left:60%;
  padding:1%;
  
}

li{
  padding-right:20%;
}

.btn{
  background-color:#090F34;
  width:130px;
}
</style>

</head>
<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'home_view'%}" id="logo">Hobe</a>
     
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;" id="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'article_view'%}">Trending</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{%url 'home_view'%}">Home</a>
          </li>
        
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn">
              Write
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{%url 'create_view'%}">Create new story</a>
              <a class="dropdown-item" href="{%url 'drafts_list'%}">Drafts</a>
              
            </div>
          </div>
        
        </ul>
      
      </div>
    </div>
  </nav>


 {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{%for article in articles  %}{{ article.headline }} {% endfor %}</h1>
        <p class=" text-muted">{{ article.author }} | {{ article.image }}</p>
        <p class="card-text ">{{ object.description | safe }}</p>
      </div>
    </div>
    
  </div>
</div>

{% endblock content %}

<table>
    <th>
        <td>Publisher profile</td>
        <td>Publisher username</td>
        <td>Title</td>
        <td>Cover</td>
        <td>Story</td>

    </th>
    {%for draft in drafts%}
    <tr>
        <td>{{draft.publisher_profile_picture}}</td>
        <td>{{draft.username}}</td>
        <td>{{draft.title}}</td>
        <td>{{draft.cover}}</td>
        <td>{{draft.story}}</td>
    </tr>
    {% endfor %}
</table>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>